@model IEnumerable<Leilao.PL.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoCurta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoLonga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lote.ID_Lote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoCurta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoLonga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Produto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Produto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Produto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
